## SQL query

I am going to write in here all the steps in order to get the final joined table of the exercise:
- Create tables A and B.
- Fill them with the given values.
- Query the left-joined table.
- Print the final result.

In [7]:
# Writing all the SQL queries

CREATE_TABLES = """
    CREATE TABLE IF NOT EXISTS A (
        ID INTEGER,
        Name TEXT,
        Born_in TEXT
    );
    CREATE TABLE IF NOT EXISTS B (
        ID INTEGER,
        Instrument TEXT,
        Football_Club TEXT
    );
"""

INSERT_VALUES = """
    INSERT INTO A (ID, Name, Born_in)
    VALUES
        (9991, 'John', 'Liverpool'),
        (9992, 'Paul', 'Liverpool'),
        (9993, 'Ringo', 'Liverpool'),
        (9994, 'George', 'Liverpool');
    INSERT INTO B (ID, Instrument, Football_Club)
    VALUES
        (9991, 'Vocal', 'Liverpool'),
        (9992, 'Base', 'Liverpool'),
        (9993, 'Drums', 'Liverpool'),
        (9995, 'Guitar', 'Arsenal'),
        (9992, 'Piano', 'Liverpool');
"""

READ_TABLE_A = "SELECT * FROM A;"
READ_TABLE_B = "SELECT * FROM B;"

SELECT_QUERY ="""
    SELECT A.ID, A.Name, A.Born_in, B.Instrument, B.Football_Club
        FROM A LEFT JOIN B
        ON A.ID = B.ID;
"""

In [8]:
import os
import psycopg2
from dotenv import load_dotenv
import pandas as pd

In [9]:
# Stablishing the connection with the database in a remote server

load_dotenv()
connection = psycopg2.connect(os.environ['DATABASE_URL'])

In [10]:
# Creating and filling tables A and B, and reading their content

with connection:
    with connection.cursor() as cursor:

        cursor.execute(CREATE_TABLES)

        cursor.execute(INSERT_VALUES)
        
        cursor.execute(READ_TABLE_A)
        tableA = cursor.fetchall()
        
        cursor.execute(READ_TABLE_B)
        tableB = cursor.fetchall()

print('- Table A:')
print(pd.DataFrame(tableA, columns=['ID', 'Name', 'Born_in']))

print('\n- Table B:')
print(pd.DataFrame(tableB, columns=['ID', 'Instrument', 'Football_Club']))

- Table A:
     ID    Name    Born_in
0  9991    John  Liverpool
1  9992    Paul  Liverpool
2  9993   Ringo  Liverpool
3  9994  George  Liverpool

- Table B:
     ID Instrument Football_Club
0  9991      Vocal     Liverpool
1  9992       Base     Liverpool
2  9993      Drums     Liverpool
3  9995     Guitar       Arsenal
4  9992      Piano     Liverpool

In [11]:
# Executing the SQL final query

with connection:
    with connection.cursor() as cursor:
        
        cursor.execute(SELECT_QUERY)
        output = cursor.fetchall()

print('- Joined table:')
print(pd.DataFrame(output, columns = ['ID', 'Name', 'Born_in', 'Instrument', 'Football_Club']))

- Joined table:
     ID    Name    Born_in Instrument Football_Club
0  9991    John  Liverpool      Vocal     Liverpool
1  9992    Paul  Liverpool      Piano     Liverpool
2  9992    Paul  Liverpool       Base     Liverpool
3  9993   Ringo  Liverpool      Drums     Liverpool
4  9994  George  Liverpool       None          None